body {
  font-family: Verdana, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

thead {
  background-color: #b7d0ff;
  font-weight: bold;
  padding: 12px 0px 12px 6px;
  border-bottom: 2px solid gray;
}

tbody {
  padding: 6px;
  border-bottom: 1px gray;
}

.center {
  margin: auto;
  padding: 60px;
  width: 60%;
}

h1 {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
